@font-face {
  font-family: Alt;
  src: url(../fonts/SHPinscher-Regular.otf );
}
  @font-face {
    font-family: Header;
    src: url(../fonts/upheavtt.ttf);
  }


@media (max-width:340px) {
  .container1{
    height: 75%;
  }
  .container2{
    height: 25%;
  }
  .logo{
    width: 110px;
  }

    h1 {
      font-size: 210%;
    }
    h4 {
      font-size: 170%;
    }
    .foto{
margin-top: 40px;
margin-bottom: 10px;

        width: 160px;
    }
  }


@media (min-width: 340px) {
  .container1{
    height: 75%;
  }
  .container2{
    height: 25%;
  }
  .logo{
    width: 140px;
  }

    h1 {
      font-size: 270%;
    }
    h4 {
      font-size: 200%;
    }
    .foto{
margin-top: 40px;
margin-bottom: 10px;

        width: 330px;
    }
  }


@media (min-width: 576px) {
  .container1{
    height: 75%;
  }
  .container2{
    height: 25%;
  }
  .logo{
    width: 190px;
  }

    h1 {
      font-size: 270%;
    }
    h4 {
      font-size: 200%;
    }
    .foto{
      margin-left: 6px;
      margin-right: 6px;
        width: 280px;
    }
  }
  
  /*Medium devices (tablets, 768px ve yukarısı)*/
  @media (min-width: 768px) {
    .logo{
      width: 120px;
    }

    h1 {
      font-size:280%;
    } h4 {
      font-size: 210%;
    }
    .foto{
      margin-left: 10px;
      margin-right: 10px;
        width: 200px;
    }}
   
  
  /* Large devices (desktops, 992px ve yukarısı)*/
  @media (min-width: 992px) {
    .logo{
      width: 150px;
    }

    h1 {
      font-size: 300%;
    }h4 {
      font-size: 230%;
    } .foto{
      margin-left: 30px;
      margin-right: 30px;
        width: 200px;
    }}
   
    
  
  /* Extra large devices (large desktops, 1200px ve yukarısı)*/
  @media (min-width: 1200px) {
    .container1{
      height: 70%;
    }
    .container2{
      height: 30%;
    }
    .logo{
      width: 150px;
    }
    h1 {
      font-size: 300%;
    }  h4 {
      font-size: 250%;
    }.foto{
      margin-left: 30px;
      margin-right: 30px;
        width: 250px;
    }}
    

.container1{
  overflow-y: scroll;

    position:fixed;
    top: 0;
    background-color: rgb(42, 90, 28);
    width: 100%;
}
.container10{
  overflow-y: scroll;

  position:fixed;
  top: 0;
  background-color: rgb(42, 90, 28);
  width: 100%;
  height:100%;
}
.container2{
    position: absolute;
    overflow-y: scroll;
    text-align: center;
    bottom: 0;
    background-color: rgb(143, 25, 25);
width: 100%;}
html,body{
    background-color: rgba(0, 0, 0, 0.274);
    height: 100%;
    margin: 0px;
    padding: 0px;
}
h1{
  text-align: center;
    font-family: Header;
margin-bottom: 35px;
color: #0a423b;

}
h4{
  margin-left: 15px;
  margin-top: 5px;
    font-family: Alt;
    color: #0a423b;

}

.foto{
margin-top: 5px;
}
.logo{
  margin-left: 15px;
    
}


#med1{
  background-color: #212121;
}
#med2{
  background-color: #E67514;
}
#med3>h1{
  color: #E67514;
}
#med3>h4{
  color: #E67514;
}
#med4>h1{
  color: #212121;
}


#hib1{
  background-color: #514e52;
}
#hib2{
  background-color: #847e87;
}
#hib>h1{
  color: #a14646;
}
#hib3>h4{
  color: #a14646;
}
#hib4>h1{
  color: #4669a1;
}

#pir1{
  background-color: #006306;
}
#pir2{
  background-color: #2f1e15;
}
#pir>h1{
  color: #ae0000;
}
#pir3>h4{
  color: #ae0000;
}
#pir4>h1{
  color: #ae0000;
}

#born1{
  background-color: #3E0703;
}
#born2{
  background-color: #0d8d08;
}
#born3>h1{
  color: #14ae0f;
}
#born3>h4{
  color: #14ae0f;
}
#born4>h1{
  color: #3E0703;
}



#lol1{
  background-color: #101820FF;
}
#lol2{
  background-color: #FEE715FF;
}
#lol3>h1{
  color: #FEE715FF;
}
#lol3>h4{
  color: #FEE715FF;
}
#lol4>h1{
  color: #101820FF;
}

#iz1{
  background-color: #00203FFF;
}
#iz2{
  background-color: #ADEFD1FF;
}
#iz3>h1{
  color: #ADEFD1FF;
}
#iz3>h4{
  color: #ADEFD1FF;
}
#iz4>h1{
  color: #00203FFF;
}



#kes1{
  background-color: #291b5d;
}
#kes2{
  background-color: #ddceeb;
}
#kes3>h1{
  color: #8a62be;
}
#kes3>h4{
  color: #8a62be;
}
#kes4>h1{
  color: #908498;
}


#ilk1{
  background-color: #c5b0e2;
}
#ilk2{
  background-color: #ab93ce;
}
#ilk3>h1{
  color: #00016C;
}
#ilk3>h4{
  color: #00016C;
}

#neils1{
  background-color: #392d5c;
}
#neils3>h1{
  color: #09cf83;
}
#neils3>h4{
  color: #0bdd8d;
}

#neils2{
  background-color: #2f264d;
}
#save1{
  background-color: #1c2f6b;
}
#save2{
  background-color: #0a2b42;
}
#save3>h1{
  color: #f0b43cf6;
}
#save3>h4{
  color: #d6a138e7;
}
#tu1{
  background-color: #9E903B;
}
#tu2{
  background-color: #884A39;}
  #tu3>h1{
  color: #250000;
}
#tu3>h4{
  color: #250000;
}
#hazir1{
  background-color: #FFFFFF;
}
#hazir2{
  background-color: #000000;
}
#antik1{
  background-color: #ccb263;
}




